* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 125%;
    font-family: 'DM Sans', 'sans-serif';

    --font-size-1: 2.25rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: .75rem;

    --color-blue-1: #1c6cf9;
    --color-blue-2: #33489d;
    --color-blue-3: #141e41;

    --color-pink:  #f42771;

    --color-black-1: #181818; 
}

a {
    text-decoration: none;
    color: inherit;        
}
